<article data-id='book-{{ bookid }}' data-title='{{ title }}' data-date='{{ sortdate }}' data-author='{{ author }}' style='background-image: url({{ cover }});'>
	<div class="title">{{ title }}</div>
	<div class="author">{{ author }}</div>
	<div class="date">Publishing date: {{ date }}</div>
</article>