<h1>{{ title }}{{ pippo }}</h1>
<nav>
	<ul>
		{% for menu_item in menu %}
			<li><a href='{{ menu_item.href }}' title='{{ menu_item.title }}'>{{ menu_item.title }}</a></li>
		{% endfor %}
	</ul>
</nav>